@charset "UTF-8";
body{
    background-color:#89cda5;
    margin: 0;
}

header{
    background-image: linear-gradient(to bottom, #4BA46B, #1A5A37 66%);
    padding-top: 8px;

}

#parara{
    color: white;
    text-align: center;

}

#principal {
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
h2{
    font-family:idroid;
    color: #166320;
}
p{
    color: #020202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
}
 @font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
 }

h3{
  font-family:idroid;
  color: #166320;
  
}

#h3segundo{
    padding-left: 9px;
    background-image: linear-gradient(to right, #A6DABB, white 90%);
    border-radius: 5px;
}

header ul a {
    margin-left: 30px;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
header ul a:hover {
    color: #f1f3f1; 
    background-color: #5faf5c88;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    
}

nav{
    height: 2500px;;
    width: 800px;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
mark{
    background-color: #3bc04c96;
}

p a:hover{
    background-color: #17580b;
    color: #ffffff;
}
p a{
        color: #166320;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;

}
nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 iframe{
    width: 700px;
    height: 400px;
    margin: 0 auto; /* Centraliza horizontalmente, aplicável se o iframe estiver em display block */
    display: block; /* Faz com que o iframe se comporte como um bloco */
    border-width: 50px;
    border-style: solid;
    border-color: #1A5A37;
 }
div{
    background-color: #C5EBD6;
    width: 800px;
    height: 500px;
}
#final{
background-color:#2FA866;
color: #ffffff;
padding: 10px;
}
div p{
    padding-left: 20px; /* Adiciona 20px de espaço à esquerda do parágrafo */
    padding-right: 20px; /* Adiciona 20px de espaço à direita do parágrafo */
}

.container {
    display: grid; /* Define o layout como grid */
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas iguais */
    
}
