@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

body, html{
    background-color: rgba(95, 21, 21, 0.863);
}

header{
    background-color: rgb(231, 235, 243);
}

header h1{
    padding: 10px;
    text-align: center;
}

i#burguer{
    background-color: rgba(179, 21, 21, 0.918);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

i#burguer:hover{
    background-color: rgb(163, 45, 45);
    color: rgb(252, 250, 250);
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb( 87, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: rgb(107, 104, 104);
   
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

h1 img{
    width: 300px;
}